*{
  padding:0;
  margin:0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  text-decoration: none;
}
}
body{
  padding:0;
  margin:0;

}

.border{
  margin:0 auto;
}


.head{
  border-bottom:1px solid black;
  width:100%;
  height:80px;
  position:relative;

}

.sbd{
  height:70px;
  }

.sbd-container{
  padding:10px 70px 0;
  margin:auto 0;

}

.hemp{
  width:100%;
}



.menus{
  float: left;

  bottom:0;
  display: block;
  margin-right:30px;

}

.menu-container{
  position:absolute;
  bottom:0;
  right:240px;
}

.menu{
  height:30px;
  transition-duration: 0.5s;
}

.menu:hover {
  opacity: 0.4;
  transition-duration: 0.3s;
  background-color:#000;
}
/*---------------body------------------------*/
.body{

  width:800px;
  margin:0 auto;

}

.about{
  padding-top:25px;
  height:250px;
  margin-bottom:60px;
}

.headline{
  height:60px;
  display:block;
  margin:0 auto;
}

.discription{
  width:650px;
  margin:40px auto;
}

.discription p{
  font-size: 18px;
  font-weight:bold;
}

.footer{
  background-color:black;
  width:100%;
  height:300px;
}

.location{
  padding-top:25px;

}

.map-adress{
  margin: 0 auto;
  height:400px;
  width:650px;

}



.gg-map{
  margin:40px 0;
}

.map{
  display:inline-block;
  height:300px;
  width:330px;
  float:left;

}

.adress{
  float:left;
  padding-left:30px;
}

.adress p{
  font-size:18px;
  font-family: "游ゴシック体",  sans-serif;
  font-weight:bold;
}

.adress h1{
  font-size:18px;
  padding-bottom:0;
  padding-top:30px;
}

.strains-discription{
  text-align:center;
}

.strains{
  clear:both;
  width:650px;
  padding-top:30px;
  margin:0 auto;
}

.buds-image{
  height: 180px;
  weight:180px;
}

.buds-photos-top{
  display:flex;
}

.buds-photos-bottom{
  display:flex;

}

.buds-top{
  width:30%;
  margin:0 auto;
}

.buds-bottom{
  width:30%;
  margin:0 auto;
}

.look-other{

  background-color:black;
  height:50px;
  width:150px;
  clear:both;
  margin:20px auto 30px;
  transition-duration: 0.5s;
}

.look-other:hover{
  opacity: 0.4;
  transition-duration: 0.3s;
}

.look{
  color:white;
  font-weight:bold;
  line-height:50px;
  text-align:center;
}

.online-shop{
  background-color:black;
  height:50px;
  width:250px;
  clear:both;
  margin:20px auto 30px;
  transition-duration: 0.5s;
}

.online-shop:hover{
  opacity: 0.4;
  transition-duration: 0.3s;
}

.shop{
  color:white;
  font-weight:bold;
  line-height:50px;
  text-align:center;
}

.icons{
  
  margin:0 auto ;
  padding-top:30px;
  width:200px;
}

.fab{
  color:white;
}

.last{
  margin-top:40px;
}

.last h1{
  color:white;
  font-size:25px;
  letter-spacing: 7px;
}

.last p{
  color:gray;
  font-size:10px;
  padding-top:10px;
  letter-spacing: 7px;
}
